@charset "ISO-8859-1";
@media all {
body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: bold;
	line-height: 1.0;
	text-align: left;
	padding: 0;
}
h1 {
	font-size: 130%;
	margin: 0.5em 0;
}
h2 {
	font-size: 118%;
	margin: 0.5em 0;
}
h3 {
	font-size: 112%;
	margin: 0.5em 0;
}
h4 {
	font-size: 106%;
	margin: 0.5em 0;
}
h5 {
	font-size: 100%;
	margin: 0.25em 0;
}
h6 {
	font-size: 100%;
	font-style: italic;
	font-weight: normal;
	margin: 0.25em 0;
}
div, form, pre, table, thead, tbody, tfoot, tr, th, td, caption, li, dt {
	margin: 0;
	padding: 0;
}
p {
	line-height: inherit;
	margin: 1em 0;
	padding: 0;
}
pre, code {
	font-family: "Lucida Console", "Andale Mono", Monaco, monospace;
	font-size: 88%;
}
sub, sup { 
	line-height: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
}
caption {
	caption-side: top;
}
td, th {
	padding: 4px;
}
ul, ol, dl, dd {
	margin: 0;
	padding: 0 2em;
}
input, select, textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 88%;
	line-height: 1.2;
}

#pageHeader, #pageFooter {
	clear: both;
}
#pageHeader h1 {
	margin: 0;
}

table.DataTable {
	border: 1px solid #7A7B71;
	/* Must specify cellspacing="0" in the table tag to get the desired result */
	border-collapse: separate;
}
table.DataTable tr td {
	border: 1px solid #D5D5C9;
}
table.DataTable th {
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2EE #76766E #76766E #F2F2EE;
}
table.DataTable th.Clicked {
	border-width: 1px;
	border-style: solid;
	border-color: #76766E #F2F2EE #F2F2EE #76766E;
}
table.DataTable th.SortedAscending {
	border-width: 1px;
	border-style: solid;
	border-color: #76766E #F2F2EE #F2F2EE #76766E;
	background-image: url('sortedAcsending.gif');
	background-position: center right;
	background-repeat: no-repeat;
}
table.DataTable th.SortedDescending {
	border-width: 1px;
	border-style: solid;
	border-color: #76766E #F2F2EE #F2F2EE #76766E;
	background-image: url('sortedDescending.gif');
	background-position: center right;
	background-repeat: no-repeat;
}
table.DataTable tr.Error {
	font-style: italic;
}

.SmallPrint {
	font-size: 70%;
}

.SectionHeading {
	border: 1px solid #1957A2;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-size: 112%;
	font-style: normal;
	font-weight: bold;
	line-height: 1.0;
	margin: 5px 0 0 0;
	min-height: 1em;
	padding: 5px;
	text-align: left;
}
.SectionContent {
	border: 1px solid #A7A898;
	margin: 0;
	padding: 5px;
}
.SectionFooting {
	border: 1px solid #1957A2;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	font-size: 100%;
	font-style: normal;
	line-height: 1.0;
	margin: 0 0 5px 0;
	min-height: 1em;
	padding: 5px;
	text-align: left;
}
	
.NoWrap {
	white-space: nowrap;
}

.FloatBlocker {
	clear: both;
}

.GreenCell {
	border: 0;
	margin: 0;
	width: 100%;
}
.YellowCell {
	border: 0;
	margin: 0;
	width: 100%;
}
.RedCell {
	border: 0;
	margin: 0;
	width: 100%;
}
.GreenCell tr td {
	border: 0;
}
.YellowCell tr td {
	border: 0;
}
.RedCell tr td {
	border: 0;
}
}

@media screen {
body {
	background-color: #E7E9E0;
	color: black;
	font-size: 100%;
	padding: 0.5em;
}

input[disabled], select[disabled], textarea[disabled] {
	background-color: #E7E9E0;
}
input[readonly], select[readonly], textarea[readonly] {
	background-color: #E7E9E0;
}

#pageHeader, #pageFooter {
	background-color: #1957A2;
	color: white;
	padding: 0.5em;
}
#pageContent {
	padding: 0.5em;
}

table.DataTable th {
	background-color: #D6D5C7;
	color: black;
}
table.DataTable th.Clicked, table.DataTable th.SortedAscending, 
		table.DataTable th.SortedDescending {
	background-color: #C6C5B7;
	color: black;
}
table.DataTable tr.Error {
	background-color: white;
	color: red;
}
table.DataTable tr.GroupBreak {
	background-color: #FDF8CE;
	color: #48483E;
}
table.DataTable tr.Even {
	background-color: #F5F6F0;
	color: black;
}
table.DataTable tr.Odd {
	background-color: white;
	color: black;
}

.SectionHeading {
	background: #1957A2;
	color: #FFFFFF;
}
.SectionFooting {
	background: #1957A2;
	color: #FFFFFF;
}

.GreenCell {
	background-color: #4EFB4E;
}
.YellowCell {
	background-color: #FBFB4E;
}
.RedCell {
	background-color: #FB4E4E;
}

.HeadingImageButton {
	border-width: 0;
	cursor: pointer;
}

div.HeadingTitleBox {
	float: left; 
}
	
div.HeadingLinkBox {
	float: right; 
	font-size: 0.8em;
}
div.HeadingLinkBox a {
	text-decoration: none; 
	color: white;
}
div.HeadingLinkBox a:hover {
	text-decoration: underline;
}
div.HeadingLinkBox img {
	border-width: 0px; 
	vertical-align: middle;
}
}

@media print {
body {
	font-size: 12pt;
}

#pageHeader, #pageContent, #pageFooter {
	padding-top: 0.5em; 
	padding-bottom: 0.5em;
}
}
